@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    --card: 0 0% 2%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 0 0% 60%;
  }

  html {
    font-family: 'Epilogue';
  }

}